@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');
body{
    height: 100vh;
    box-sizing: border-box;
}
/* //Navegação */
header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background : #1351d8;
}
.logoFord{
    justify-self: start;
}
.logoFord img{
    height: 94px;
}

.navLinks{
    justify-self: center;
}
.navLinks a{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    margin: 0 15px;
}
.navLinks a:hover{
    color: #1b357e;
}
/* //Navegação */

main{
    margin-top: 20px;
}
h1{
    font-size: 32px;
    font-family: 'Saira Stencil', sans-serif;
    color: #1b357e;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.conteudo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.conteudo img{
    box-shadow: 10px 5px 5px black;
}
/* //Footer */
footer{
    background: #1b357e;
    display: flex;
    align-items : center;
    text-align: center;
    position: fixed;
    padding: 1% 0;
    bottom: 0;
    width: 100%;
}

#redes{
    display: flex;
    align-items: center;
    color: white;
    a img{
    width: 32px;
    }
    a img:hover{
        width: 35px;
    }
    p{
        width: 150px;
    }
}
#info{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.copy{
    color: white;
    width: 100%;
}
.logoFordFooter{
    margin-right: 1%;
}
/* Footer// */