body{
    height: 100vh;
    box-sizing: border-box;

}
header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background : #1351d8;
}
#logoFord{
    justify-self: start;
}
#logoFord img{
    height: 94px;
}

#navLinks{
    justify-self: center;
}
#navLinks a{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    margin: 0 15px;
}
#navLinks a:hover{
    color: #1b357e;
}
footer{
    background: #1b357e;
    display: flex;
    align-items : center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#redes{
    color: white;
}
.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logoFordFooter{
    margin-left: auto;
}
